h1{
    text-align: center;
    color:white;
    font-size: 3.2vh;
}
.content {
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/b514a542-9e64-48b6-96e8-1f0f08150b2f-channel_offline_image-1920x1080.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: black !important;
  }
  .container {
    width: 70vh;
    height: 42vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form{
    height: 40vh;
    width: 48vw;
  }
  mat-form-field {
    //display: block;
    height: 9vh;
    width: 48vw;
  }
 .button-container{
     display: flex;
     justify-content: center;
     width: 48vw;
     height: 6vh;
 }
 
.button-container a{
  height: 7vh;
  width: 16.5vw;
}
mat-icon{
  height: 3vh;
}