<div class="driverContainer">
    <button id="prevButton" (click)="removeParagraphs()">&lt;</button>
    <div class="card">
        <div class="card-front">
            <p id="uno"><span>MUÑON</span></p>                
            <p><span>MOTOMONGO</span></p>
            <p><span>XSHALEXX</span></p>
            <p><span>JOLOALRA</span></p>
            <p><span>BIGTHOR</span></p>
            <p><span>ROBERTIKINHO</span></p>
            <p><span>DAVILILLO</span></p>
        </div>
    </div>
    <button id="nextButton" (click)="addParagraphs()">&gt;</button>
</div>