<div class="content">
  <div class="container">
    <form [formGroup]="circuitForm" (ngSubmit)="onSubmit()">
      <h1>CREAR CIRCUIT</h1>
      
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Nombre" required>
        @if(circuitForm.get('name')?.hasError('required')){
          <mat-error>
            Nombre es requerido.
          </mat-error>
        }
        <!-- <mat-error *ngIf="circuitForm.get('name').hasError('required')">
          Nombre es requerido.
        </mat-error> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
          <mat-label>Nacionalidad</mat-label>
          <mat-select formControlName="nationality" placeholder="Selecciona el país">
            @for (pais of paises; track $index) {
              <mat-option [value]="pais">{{ pais }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Localización</mat-label>
        <input matInput formControlName="birthDate" placeholder="Localización" required>
        @if(circuitForm.get('birthDate')?.hasError('required')){
          <mat-error>
            Fecha de naciomiento es requerida.
          </mat-error>
        }
      </mat-form-field>
      
      
      
      <mat-form-field appearance="fill">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="team" placeholder="Longitud" required>
        @if(circuitForm.get('team')?.hasError('required')){
          <mat-error>
            Equipo es requerido.
          </mat-error>
        }
      </mat-form-field>
      <div class="button-container">
        <a mat-fab extended routerLink=".">
          <mat-icon>note_add</mat-icon>
          CREAR DRIVER
        </a>
      </div>
    </form>
  </div>
</div>
