
.globalContainer{
  height: 94vh;
  background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/b514a542-9e64-48b6-96e8-1f0f08150b2f-channel_offline_image-1920x1080.png");
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
h1{
  color: white;
  font-size: 4vh;
}
form{
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.7vh;
  position: relative;
  color: white;
  margin-bottom: 5vh;
}

.container .label {
  font-size: 2vh;
  padding-left: 2vh;
  position: absolute;
  top: 1.5vh;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 45vw;
  height: 6vh;
  border: none;
  outline: none;
  padding: 0 1vh;
  border-radius: 1vh;
  color: #fff;
  font-size: 2vh;
  background-color: transparent;
  box-shadow: 3vh 3vh 10vh rgba(0,0,0,1),
  -1vh -1vh 6vh rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 0.3vh solid transparent;
  color: #fff;
  box-shadow: 1vh 1vh 1vh rgba(0,0,0,1),
  -1vh -1vh 3vh rgba(255, 255, 255, 0.4),
  inset 2vh 2vh 5vh rgba(0,0,0,1),
  inset -1vh -1vh 6vh rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.5s;
  padding-left: 1vw;
  transform: translateY(-4vh);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3vh 3vh 10vh rgba(0,0,0,1),
  -1vh -1vh 6vh rgba(255, 255, 255, 0.4),
  inset 3vh 3vh 10vh rgba(0,0,0,1),
  inset -1vh -1vh 6vh rgba(255, 255, 255, 0.4);
}